.ProfileHeader-avatar {
    position: absolute;
    top: -25px;
    left: 0;
    z-index: 1;
}

.UserAvatarEditor {
    cursor: pointer;
    position: relative;
    height: 110px;
    width: 110px;
}
.UserAvatar {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 8px;
}
.UserAvatar-inner {
    vertical-align: top;
}

.Avatar--large {
    border-radius: 4px;
}
.Avatar {
	width: 100px;
	height: 100px;
    background: #fff;
    border-radius: 2px;
}

.Mask-hidden {
    pointer-events: none;
    opacity: 0;
}
.Mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: opacity .2s ease-in;
}
.UserAvatarEditor-maskInner {
    z-index: 4;
    border: 4px solid #fff;
    border-radius: 8px;
}

.Mask-mask--black {
    background: #1a1a1a;
}
.Mask-mask {
    position: absolute;
    z-index: -1;
    width: 110px;
    height: 110px;
    opacity: .4;
    box-sizing: border-box;
}
.Mask-content {
    position: absolute;
    top: 55px;
    left: 55px;
    z-index: 5;
    color: #fff;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.UserAvatarEditor-cameraIcon {
    margin-bottom: 14px;
    fill: #fff;
}
